body{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.header{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.header > .left{

}

.header > .right{

}

.header > .left > a{
    text-decoration: none;
    }

.header > .right > a{
    text-decoration: none;
    }